<html>
  <head>

  </head>

  <body>
    <div id="DateCountdown" data-timer="301" style="width: 450px; height: 140px;"></div>
    <button class="btn btn-success start">Start Timer</button>
    <button class="btn btn-danger stop">Stop Timer</button>
    <button class="btn btn-info restart">Restart</button>
      <script>
       $("#DateCountdown").TimeCircles({
         "animation": "smooth",
         "start": false,
         "bg_width": 1.2,
         "fg_width": 0.1,
         "circle_bg_color": "#60686F",
         "total_duration": "Auto",
         "time": {
             "Days": {
                 "text": "Days",
                 "color": "#FFCC66",
                 "show": false
             },
             "Hours": {
                 "text": "Hours",
                 "color": "#99CCFF",
                 "show": false
             },
             "Minutes": {
                 "text": "Minutes",
                 "color": "#00CC66",
                 "show": true
             },
             "Seconds": {
                 "text": "Seconds",
                 "color": "#0099FF",
                 "show": true
             }
         }
     });
      $(".start").click(function(){ $("#DateCountdown").TimeCircles().start(); });
      $(".stop").click(function(){ $("#DateCountdown").TimeCircles().stop(); });
      $(".restart").click(function(){ $("#DateCountdown").TimeCircles().restart(); });
     </script>


  </body>
</html>
