<html>

<body>
  <div id="CountDownTimer" data-timer="300" style="width: 1000px; height: 250px;"></div>
     <button class="btn btn-success startTimer">Start Timer</button>
     <button class="btn btn-danger stopTimer">Stop Timer</button>
</body>
</html>
