<h1></h1>
<html>

  <head>

    <script>
    function startTimer(duration, display) {
    var start = Date.now(),
        diff,
        minutes,
        seconds;
    function timer() {
        // get the number of seconds that have elapsed since
        // startTimer() was called
        diff = duration - (((Date.now() - start) / 1000) | 0);

        // does the same job as parseInt truncates the float
        minutes = (diff / 60) | 0;
        seconds = (diff % 60) | 0;

        minutes = minutes < 10 ? "0" + minutes : minutes;
        seconds = seconds < 10 ? "0" + seconds : seconds;

        display.textContent = minutes + ":" + seconds;

        if (diff <= 0) {
          document.getElementById("timer").innerHTML = "Resume";

            // add one second so that the count down starts at the full duration
            // example 05:00 not 04:59
            start = Date.now() + 1000;
        }else{
          document.getElementById("timer").innerHTML = "Pause";
        }
    };

    // we don't want to wait a full second before the timer starts
    timer();
    setInterval(timer, 1000);
    }

      window.onload = function () {
          var fiveMinutes = 60 * 5,
              display = document.querySelector('#time');
          startTimer(fiveMinutes, display);
      };
    </script>
  </head>

  <body>
    <h1></h1>
    <center>
      <div class="col-md-offset-4 col-md-4 well">
        <div><h1>Time to take a break!</h1>
          <div id="DateCountdown" data-timer="301"></div>
          <button class="btn btn-success start">Start Timer</button>
          <button class="btn btn-danger stop">Stop Timer</button>
          <button class="btn btn-info restart">Restart</button>
            <script>
             $("#DateCountdown").TimeCircles({
               "animation": "smooth",
               "start": false,
               "bg_width": 1.2,
               "fg_width": 0.1,
               "circle_bg_color": "#60686F",
               "total_duration": "Auto",
               "time": {
                   "Days": {
                       "text": "Days",
                       "color": "#FFCC66",
                       "show": false
                   },
                   "Hours": {
                       "text": "Hours",
                       "color": "#99CCFF",
                       "show": false
                   },
                   "Minutes": {
                       "text": "Minutes",
                       "color": "#00CC66",
                       "show": true
                   },
                   "Seconds": {
                       "text": "Seconds",
                       "color": "#0099FF",
                       "show": true
                   }
               }
           });
            $(".start").click(function(){ $("#DateCountdown").TimeCircles().start(); });
            $(".stop").click(function(){ $("#DateCountdown").TimeCircles().stop(); });
            $(".restart").click(function(){ $("#DateCountdown").TimeCircles().restart(); });
           </script>
          <br>
          <br>

          <p>
            <em>
              <span id="quote_array"></span>
            </em>
          </p>
        </div>
      </div>
    </center>
    <div>
    <!-- <%= link_to "Stop/Start", '/buttons' %> -->
    <%= link_to "Custom", '/custom', {:style=>'color:#FFFFFF;', :class => "css_class"} %>
    <br>
    <%= link_to "Circle Timer", '/codepen' %>
    </div>
  </body>

</html>
