<h1></h1>
<html>

  <head>
  </head>

  <body>
    <h1></h1>
    <center>
      <div class="col-md-offset-4 col-md-4 well">
        <div><h1>Time to hit the pause button!</h1>
          <div id="DateCountdown" data-timer="301"></div>
          <button class="btn btn-success start">Start Timer</button>
          <button class="btn btn-danger stop">Stop Timer</button>
          <button class="btn btn-info restart">Restart</button>

            <script>
             $("#DateCountdown").TimeCircles({
               "animation": "smooth",
               "start": false,
               "bg_width": 1.2,
               "fg_width": 0.1,
               "circle_bg_color": "#60686F",
               "count_past_zero": false,
               "total_duration": "Auto",
               "direction": "Counter-clockwise",
               "time": {
                   "Days": {
                       "text": "Days",
                       "color": "#FFCC66",
                       "show": false
                   },
                   "Hours": {
                       "text": "Hours",
                       "color": "#99CCFF",
                       "show": false
                   },
                   "Minutes": {
                       "text": "Minutes",
                       "color": "#00CC66",
                       "show": true
                   },
                   "Seconds": {
                       "text": "Seconds",
                       "color": "#0099FF",
                       "show": true
                   }
               }
           });

          $("#DateCountdown").TimeCircles().addListener(function(unit, amount, total){
            if(total == 0) {
              var gong = new Audio("assets/gong.mp3");
                  gong.play();
              $("#DateCountdown").TimeCircles().end().fadeOut();
              // var myImage = new Image(200, 200);
              //   myImage.src = 'assets/logo.jpeg';
              //   $('myImage').addClass('fadeIn-3s');
              //   myImage;
             }
           });
            $(".start").click(function(){ $("#DateCountdown").TimeCircles().start(); });
            $(".stop").click(function(){ $("#DateCountdown").TimeCircles().stop(); });
            $(".restart").click(function(){ $("#DateCountdown").TimeCircles().restart(); });
           </script>
          <br>
          <br>
          <p>
            <em>
              <h4><span id="quote_array"></span></h4>
            </em>
          </p>
          <img id='logo' src="assets/logo.jpeg" max-width="150px" height="150px" >
          <br>
          <%= link_to "www.valeriedambrosio.com", "http://www.valeriedambrosio.com/", class:"web-link" %>
        </div>
      </div>
    </center>
  </body>

</html>
