<!DOCTYPE html>
<html>
<head>
  <title>BreakApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="circletimer.min.js"></script>
  <link href="circletimer.css" rel="stylesheet">

</head>

<body>

<%= yield %>

</body>
</html>
